.myButton {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 300ms;
}

.myButton:hover {
  border-color: #1e40af;
}
