@import "tailwindcss";

#root {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  gap: 2em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px 30px;
}

.button {
  @apply rounded-lg border border-transparent py-[0.6em] px-[1.2em] text-base 
      font-medium text-inherit bg-[#1a1a1a] cursor-pointer transition duration-300 hover:border-blue-700;
}
